

{% extends "base.html" %}

{% block pre_header %}
    <div class="banner">
        <span class="caps">Site Under Scheduled MAINTENANCE</span>
    </div>
{% endblock pre_header %}

{% block body %}
    <section class="hero grid col-2">
        <div class="coming-soon">
            <img src="/static/img/large-bg.jpg" alt="Coming Soon">
            <div class="hero-overlay">
                <div class="rotating-word-wrapper ">
                    <span id="rotatingWordSpan" class="dynamic-word"></span>
                </div>
            </div>
        </div>
        <div class="hero-content">
            {% include 'fragments/contact-form.html' %}
        </div>
    </section>
{% endblock body %}

{% block extra_scripts %}
    <script src="/static/js/rotating-word.js"></script>
{% endblock extra_scripts %}