

{% extends "base.html" %}

{% block pre_header %}
    <div class="banner">
        <span class="caps">Site Under Scheduled MAINTENANCE</span>
    </div>
{% endblock pre_header %}

{% block body %}
    <section class="hero grid col-2">
        <div class="coming-soon">
            <img src="/static/img/bg.jpeg" alt="Coming Soon">
            <div class="overlay grid full-height justify-cetner align-end">

            </div>
        </div>
        <div class="hero-content">
            {% include 'fragments/contact-form.html' %}
        </div>
    </section>
{% endblock body %}