{% extends "base.html" %}

{% block title %}Gallery | NME{% endblock title %}

{% block description %}

{% endblock description %}

{% block keywords %}{% endblock keywords %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/carousel.css">
{% endblock extra_head %}

{% block hero %}
<section class="hero short">
    <video playsinline disablepictureinpicture  class="bg-cover" src="/static/vid/hiRes.mp4" alt="Coming Soon" autoplay muted loop></video>
    <div class="hero-overlay">
        <h1 class="text-center">RELIVE THE MAGIC</h1>
    </div>
    <div class="hero-toggle-wrapper">
            <button id="hero-video-toggle" >
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g class="nav-toggle-icon pause is-active" >
                        <line x1="8" y1="4" x2="8" y2="20" stroke="#ffffff" stroke-width="4"></line>
                        <line x1="16" y1="4" x2="16" y2="20" stroke="#ffffff" stroke-width="4"></line>
                    </g>
                    <g class="nav-toggle-icon play">
                        <polygon points="4,4 20,12 4,20" fill="#ffffff"></polygon>
                    </g>
                </svg>
            </button>
        </div>
</section>
{% endblock hero %}
{% block body %}

{% for show  in shows if show.gallery  %}
    <div class="content py-6">
    <h2 class="large-text">{{show.title}}</h2>
    </div>
    <div class="grid col-4 md-col-3 sm-col-2 mb-3">
        {% for slide in show.gallery.slides %}
        <div style="background-color:red; aspect-ratio:1/1; " class="relative">
            <img src="{{slide.media.get_absolute_url()}}" loading="lazy" class="object-cover"/>
        </div>
        {% endfor %}

    </div>
{% endfor %}
{% endblock body %}